/*.game-container-svg {
	/*margin-left: 40%;
	border : solid 4px gray ;
}

.snake-body {
	fill : #555353;
}

.food-on-board {
	fill : transparent;
	opacity : 0.4;
}

#QACarousel {
	border: 1px solid black;	
}

.hidden {
	display: none;
}

.QA-sub {
	text-align: center;
}

/*post- semantic changes
.zero-margins {
	margin: 0px !important;
}

.QA {
	font-size: 20px;
	text-align: center;
	height: 200px;
	min-height: 200px;
}

.align-center {
	text-align: center;
}*/